table {
  empty-cells:  show;
  border-style:  solid;
  text-align:  center;
}

td, th {
  text-align:  center;
  width:  100px;
  border-style:  solid;  
}

.column1 {
  font-style:  italic;
}

.outer-content  {
  background-color:  pink;
  top:  20px;
  text-align:  left;
  width:  75%;
  padding:  1px;
}

.inner-content  {
  background-color:  blue;
  text-align:  center;
  margin:  auto;
  width:  75%;
}

form {
  border-style:  solid;
}